nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
    background: #e5e7eb;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) ;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;

}
.navbar__list{
    display: flex; 
    justify-items: center; 
    align-items: center;
    position: relative;
}
.navbar__list li {
    list-style: none;
    padding:  0 20px;
    position: relative;
}
.navbar__list li a {
    text-decoration: none;
    font-size: 20px;
    color:rgb(39, 45, 78) ;
    font-weight: 500;
    transition: 0.3s ease-out;
} 
.navbar__list li a:hover,
.navbar__list li a.active
 {
    color:#16a4de
}
.navbar__list-item a:hover::after,
.navbar__list-item a.active::after{
    content: "";
    width: 30px;
    height: 4px;
    background-color:#16a4de;
    position: absolute;
    bottom: -4px;
    left: 20px;

}
#mobile-menu{
    display: none;
}

@media (max-width: 414px) {

.navbar__list {  
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top:83px;
    right: -300px;
    width:300px;
    height: 100vh;
    background-color: #e5e7eb;
    padding: 40px 0 0 10px;
    box-shadow:0 40px 60px rgba(0 0 0 0.2);
    display: none;
}
.navbar__list.active {
    right: 0;
}
.navbar__list li {
    margin-bottom: 25px;
}
#mobile-menu {
    display: block;
} 
#mobile i {
    font-size: 24px;
    cursor: pointer;
}
}



