.Team {
  width: 100vw;
  color: #272d4a;
}

.Team h3 {
    font-size: 38px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center; 
}
.Team p {
    line-height: 25px;
    width: 400px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}
.team-image {
    width: 1200px;
    margin: 40px auto;
}
.team-image img {
    width: 100%;
    object-fit: cover;
}
.team-btn {
    background: #16a4de;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 20px auto;
}