.WhoweAre {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 300px;
}
.WhoweAre-title {
    text-align: end;
}
.WhoweAre-title h2 {
    color:#facc15;
    font-weight: 700;
    font-size: 52px;
    width: 300px;
    line-height: 50px;
    margin: 0;
}
#highlight {
    font-size: 60px;
    color: #16a4de;
}
.WhoweAre-text p {
    width: 500px;
    text-align: left;
    color: #94a2b3;
    font-size: 18px;
    line-height: 25px;
     
}
.WhoweAre-mobile {
    display: none;
}
.divider {
    width: 150px;
    height: 8px;
    background-color: #facc15;
    margin-bottom: 20px;
}
.divider:hover {
    width: 250px;
    transition:  0.2s ease-in;
}


@media (max-width: 414px) {
   
    .WhoweAre{
        width: 100%;
        display: block;
        padding: 0px 12px;
    }
  .WhoweAre-title h2 {
    display: none;
  }
  .WhoweAre-mobile {
    display: block;
    color: #16a4de;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; 
    
  }
  
  .divider {
    display: none;
  }
  .WhoweAre-text p {
    width: 100%;
    text-align: justify;
    color: #94a2b3;
    font-size: 14px;
    line-height: 20px;

  }

  .WhoweAre-title{
    text-align: center;
  }
}